<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="base_url" value="https://spoonacular-recipe-food-nutrition-v1.p.rapidapi.com"/>
    <add key="api_key" value="2ce420e0c6msh463f1f0301ffc8cp186020jsn21ac736ef59a" />
    <add key="access_key_url_mod" value="?access_key="/>
  </appSettings>
</configuration>